In [4]:
# Reading CSV File
import pandas as pd
df1=pd.read_csv('data.csv')
df1.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,02-Mar-22,16593.10,16678.50,16478.65,16605.95,517723542,39407.44
1,03-Mar-22,16723.20,16768.95,16442.95,16498.05,442068263,31413
2,04-Mar-22,16339.45,16456.00,16133.80,16245.35,456143040,34821.1
3,07-Mar-22,15867.95,15944.60,15711.45,15863.15,585403660,38038.75
4,08-Mar-22,15747.75,16028.75,15671.45,16013.45,543600673,38704.4

In [7]:
# To check data type of columns
print(df1['Date'].dtype)
print(df1['Open'].dtype)
print(df1['Low'].dtype)

object
float64
float64

In [8]:
# .astype - It is used to typecaste data type
# category - It will type caste data to list or map data to lis. It will save memory.
df1['Close'].astype('category')

0     16605.95
1     16498.05
2     16245.35
3     15863.15
4     16013.45
5     16345.35
6     16594.90
7     16630.45
8     16871.30
9     16663.00
10    16975.35
11    17287.05
12    17117.60
13    17315.50
14    17245.65
15    17222.75
16    17153.00
17    17222.00
18    17325.30
19    17498.25
20    17464.75
21    17670.45
Name: Close, dtype: category
Categories (22, float64): [15863.15, 16013.45, 16245.35, 16345.35, ..., 17325.30, 17464.75, 17498.25, 17670.45]