In [1]:
import pandas as pd
df1=pd.DataFrame([[1,5,6],[4,9,3],[50,6,71],[41,58,3],[54,20,0],[1,7,3]],columns=['C1','C2','C3'],index=['R1','R2','R3','R4','R5','R6'])
df1.shape
df1.head()

    C1  C2  C3
R1   1   5   6
R2   4   9   3
R3  50   6  71
R4  41  58   3
R5  54  20   0

In [2]:
# Exporting CSV File
df1.to_csv('export.csv')

In [3]:
# Exporting File without Indexes
df1.to_csv('export1.csv',index=False)