In [1]:
# Merging Data Frames
import pandas as pd
df1=pd.DataFrame([[1,2,5],[9,7,3],[4,3,6]],columns=['C1','C2','C3'])

In [2]:
df1

   C1  C2  C3
0   1   2   5
1   9   7   3
2   4   3   6

In [3]:
df2=pd.DataFrame([[24,7,54],[90,2,31],[47,3,67]],columns=['X1','X2','X3'])
df2

   X1  X2  X3
0  24   7  54
1  90   2  31
2  47   3  67

In [6]:
df3=pd.merge(df1,df2,right_on='X2',left_on='C2')
df3

   C1  C2  C3  X1  X2  X3
0   1   2   5  90   2  31
1   9   7   3  24   7  54
2   4   3   6  47   3  67