In [5]:
import pandas as pd
df=pd.read_csv('C:\\Users\\sandh\\OneDrive\\Desktop\\email.csv')

In [6]:
df.drop(['Unnamed: 2'],axis=1,inplace=True)
df.head(1)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...

In [12]:
# Grouping Mails By Category
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [21]:
# Converting Category Into Numbers
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.drop('Category',inplace=True,axis=1)
df.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [22]:
# Splitting Dataset Into Training & testing Datatset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.2)