In [36]:
import pandas as pd
df=pd.read_csv('C:\\Users\\sandh\\OneDrive\\Desktop\\titanic.csv')

In [37]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Unnamed: 12','Cabin','Embarked'],axis=1,inplace=True)
df.head(1)

   Pclass   Sex   Age  Fare  Survived
0       3  male  22.0  7.25         0

In [38]:
x=df.drop(['Survived'],axis=1)
y=df.Survived

In [39]:
# Converting Sex into Dummy Column becaues Text can't be Used directly
dummies=pd.get_dummies(x.Sex)

In [41]:
# Concatinating Dummies in Final Dataset
final=pd.concat([x,dummies],axis=1)
final.drop(['Sex'],axis=1,inplace=True)
final.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [42]:
# Checking If Columns Have na Values
final.columns[final.isna().any()]

Index(['Age'], dtype='object')

In [43]:
# Fill na values with Mean
final.Age=final.Age.fillna(final.Age.mean())

In [44]:
# Splitting Model Into Training & Testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(final,y,test_size=0.2)

In [45]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [47]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8044692737430168