In [1]:
import pandas  as pd
import numpy as np

In [2]:
# Creating an Empty Data Frame
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [3]:
# Creating Non-Empty Data Frame
df2=pd.DataFrame([[1,8,5],[5,8,2],[50,74,62],[70,54,20],[80,51,63],[41,87,30]])
print(df2)

    0   1   2
0   1   8   5
1   5   8   2
2  50  74  62
3  70  54  20
4  80  51  63
5  41  87  30

In [4]:
# Head & Tail Functions In Pandas - Head Function is used to upper rows while tail is used for lower rows. 
print("Tail Function's Output :")
print(df2.tail(3))
print()
print("Head Function's Output :")
print(df2.head(2))

Tail Function's Output :
    0   1   2
3  70  54  20
4  80  51  63
5  41  87  30

Head Function's Output :
   0  1  2
0  1  8  5
1  5  8  2

In [6]:
# to check size of data frame
df2.shape

(6, 3)

In [9]:
# To print particular elements/sub matrix according to requirement
df2.iloc[3:5,1:3]

    1   2
3  54  20
4  51  63

In [14]:
# Adding Index & Column Names
df3=pd.DataFrame([[1,8,5],[5,8,2],[50,74,62],[70,54,20],[80,51,63],[41,87,30]],columns=['A1','B1','C1'],index=['Q','W','R','E','T','Y'])
df3

   A1  B1  C1
Q   1   8   5
W   5   8   2
R  50  74  62
E  70  54  20
T  80  51  63
Y  41  87  30

In [21]:
# Dropping Particular Row 
df3.drop(['Y'])

   A1  B1  C1
Q   1   8   5
W   5   8   2
R  50  74  62
E  70  54  20
T  80  51  63

In [19]:
# Dropping Particular Column
df3.drop(columns=['C1'])

   A1  B1
Q   1   8
W   5   8
R  50  74
E  70  54
T  80  51
Y  41  87

In [2]:
import pandas  as pd
df1=pd.DataFrame()
print(df1)
print()
df2=pd.DataFrame([[1,8,5],[5,8,2],[50,74,62],[70,54,20],[80,51,63],[41,87,30]])
print(df2)
print()
print("Tail Function's Output :")
print(df2.tail(3))
print()
print("Head Function's Output :")
print(df2.head(2))
print()
df2.shape
df2.iloc[3:5,1:3]
df3=pd.DataFrame([[1,8,5],[5,8,2],[50,74,62],[70,54,20],[80,51,63],[41,87,30]],columns=['A1','B1','C1'],index=['Q','W','R','E','T','Y'])
df3
df3.drop(['Y'])
df3.drop(columns=['C1'])

Empty DataFrame
Columns: []
Index: []

    0   1   2
0   1   8   5
1   5   8   2
2  50  74  62
3  70  54  20
4  80  51  63
5  41  87  30

Tail Function's Output :
    0   1   2
3  70  54  20
4  80  51  63
5  41  87  30

Head Function's Output :
   0  1  2
0  1  8  5
1  5  8  2

   A1  B1
Q   1   8
W   5   8
R  50  74
E  70  54
T  80  51
Y  41  87